
<div class="home">
  <h1>Tsakane Ward 83</h1>

  <div class="nav">
    <span class="material-icons">
      &nbsp;&nbsp; Login
    </span>
    <span class="material-icons">
      &nbsp;&nbsp;&nbsp;&nbsp;Register
    </span>
    <span class="material-icons">
      &nbsp;&nbsp;&nbsp;&nbsp;ADMIN
    </span>
    <br>
  </div>
  <br>
<img src="../assets/h.jpg" style="border-radius: 50%;margin-top: -3%;width: 7%;height: 7%;margin-right: 90%;">


  <div class="main">
    <div class="container text-center">
      <div><h2 style="color: #008f00;">Ekurhuleni East Branch</h2></div>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img src="../assets/d4.jfif" style="width: 300px;height:320px;">
          
        </ng-template>
        <ng-template carouselSlide>
          
          <img src="../assets/w1.jpg"  style="width: 300px;margin-top: -35%;margin-left:30% ;">
          
        </ng-template>
        <ng-template carouselSlide>
          <img src="../assets/vote.png" style="width: 300px; height:320px; margin-left: 60%;">
        </ng-template>
        <ng-template carouselSlide>
          <img src="../assets/w2.jpg" style="width: 300px; height:320px; margin-left: 90%;">
        </ng-template>
      </owl-carousel-o>
      <div></div>
    </div>
   
  </div>

    
    <h2 style="display:flex; flex-direction:column;justify-content:center;color: #008f00;">Welcome, this is the platform for all the Ward 83 where you get to engage with your councillor on daily basis.
    The website will update you with the latest news around the ward, residence will be able to report cases, make suggestions and get to see all what the councillor is up and doing.
  Opportunities will be shared as well from this site.</h2>
<br><br><br><br>

<div class="w3-container" style="display:flex; flex-direction:row">
  <br><br>
  
    <div class="w3-card-4" style="width:50%; background:red;">
      <img src="../assets/opportunity.jpg"  style="width:100%;height: 200px;">
      <div class="w3-container w3-center">
        <p>Opportunities</p>
      </div>
    </div>
    <div class="w3-card-4" style="width:50%; background:red; margin-left:5%;">
      <img src="../assets/suggestions.jfif"  style="width:100%; height: 200px;">
      <div class="w3-container w3-center">
        <p>Suggestions</p>
      </div>
    </div>
    <div class="w3-card-4" style="width:50%; background:red; margin-left:5%;">
      <img src="../assets/complaint.jpg"  style="width:100%;height: 200px;">
      <div class="w3-container w3-center">
        <p style="align-items: center;justify-content: center;">Complaints</p>
      </div>
    </div>
  </div>

<br><br>


<br><br><br><br><br><br>
  

  <div class="footer">
    <button style="width: 100%;height: 40%;">
      <!-- Footer -->
      <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
          <a href="https://banelekhumalo.github.io/"> Khumalo Events</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </button>
  </div>


</div>