.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: Black;
    color: white;
    border-top-left-radius: 170px;
}
.nav{
    margin-left: 70%;
    background: gold;
    width: 30%;
    height: 10%;
    font-size: 25px;
    border-top-left-radius: 50px;
    margin-top: -4%;
}